body {
    font-family: 'Cormorant Garamond', serif;
    text-shadow: 1px 1px white;
    background-color: #f06d06;
    font-size: 3em;
    color: black;
    text-align: center;
    font-weight: bold

}

div {
    font-family: 'Cormorant Garamond', serif;
    font-size: 0.67em;
    text-align: center;
    color: white;
    text-shadow:2px 2px black;
}
